/* You can add global styles to this file, and also import other style files */

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: white !important;
  background-color: red !important;
}

.nav-tabs .nav-link {
  font-weight: bold;
  border-color: red !important;
}

a {
  color: red !important;
  font-weight: 300;
}

.table-responsive {
  max-height: 400px;
  overflow-x: hidden !important;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

hr {
  border: 1px solid red !important;
}
table tbody tr td {
  font-size: 20px !important;
}
table thead tr th {
  font-size: 24px !important;
}

.text-right {
  text-align: right !important;
}
