<div class="content">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="typography-line">
            <h1><span> Indikatori ekonomske uspješnosti </span></h1>
          </div>
          <div class="typography-line">
            <h4><span> Klikom na button ispod unesite odgovarajuću bazu podataka, zatim izračunajte indikatore </span>
            </h4>
          </div>

          <input type="file" class="btn btn-danger" (change)="onFileChange($event)" placeholder="Upload file"
                 accept=".xlsx">
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-12" *ngIf="sheet1.length > 1">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title">Podaci učitani iz poslovnih knjiga preduzeća</h1>
        </div>
        <br>
        <div class="card-body">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink class="d-none d-sm-block d-md-block d-lg-block d-xl-block"> Jupiter </a>
              <ng-template ngbNavContent>
                <div class="table-responsive">
                  <table class="table tablesorter">
                    <thead class="text-primary">
                    <tr>
                      <th>Opis</th>
                      <th class="text-right">Godina 2018</th>
                      <th class="text-right">Godina 2019</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of data1">
                      <td>{{item.opis}}</td>
                      <td class="text-right">{{(item.godina2018).toLocaleString("hr")}}</td>
                      <td class="text-right">{{(item.godina2019).toLocaleString("hr")}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <button class="btn btn-danger" (click)="calculate1()">Izračunaj indikatore</button>
                <br>
                <hr>
                <br>
                <br>
                <div class="typography-line" *ngIf="pokazatelji1[0].godina2018 !== null">
                  <h1><span>Lista ekonomskih indikatora</span></h1>
                </div>
                <div class=" table-responsive" *ngIf="pokazatelji1[0].godina2018 !== null">
                  <table class=" table tablesorter">
                    <thead class=" text-primary">
                    <tr>
                      <th>Opis</th>
                      <th class="text-right">Godina 2018</th>
                      <th class="text-right">Godina 2019</th>
                      <th class="text-right">Razlika</th>
                      <th class="text-right">Index</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of pokazatelji1">
                      <td>{{item.opis}}</td>
                      <td class="text-right">{{number_format(item.godina2018,2).replace('.',',')}}</td>
                      <td class="text-right">{{number_format(item.godina2019,2).replace('.',',')}}</td>
                      <td class="text-right">{{(item.godina2019 - item.godina2018).toFixed(1).toLocaleString("hr").replace('.',',') }}</td>
                      <td class="text-right">{{((item.godina2019 / item.godina2018)*100).toFixed(1).toLocaleString("hr").replace('.',',') }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink class="d-none d-sm-block d-md-block d-lg-block d-xl-block"> Saturn </a>
              <ng-template ngbNavContent>
                <div class=" table-responsive">
                  <table class=" table tablesorter">
                    <thead class=" text-primary">
                    <tr>
                      <th>Opis</th>
                      <th class="text-right">Godina 2018</th>
                      <th class="text-right">Godina 2019</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of data2">
                      <td>{{item.opis}}</td>
                      <td class="text-right">{{(item.godina2018).toLocaleString("hr")}}</td>
                      <td class="text-right">{{(item.godina2019).toLocaleString("hr")}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <button class="btn btn-danger" (click)="calculate2()">Izračunaj indikatore</button>
                <br>
                <hr>
                <br>
                <br>
                <div class="typography-line" *ngIf="pokazatelji2[0].godina2018 !== null">
                  <h1><span>Lista ekonomskih indikatora</span></h1>
                </div>
                <div class=" table-responsive" *ngIf="pokazatelji2[0].godina2018 !== null">
                  <table class=" table tablesorter">
                    <thead class=" text-primary">
                    <tr>
                      <th>Opis</th>
                      <th class="text-right">Godina 2018</th>
                      <th class="text-right">Godina 2019</th>
                      <th class="text-right">Razlika</th>
                      <th class="text-right">Index</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of pokazatelji2">
                      <td>{{item.opis}}</td>
                      <td class="text-right">{{number_format(item.godina2018,2).replace('.',',')}}</td>
                      <td class="text-right">{{number_format(item.godina2019,2).replace('.',',')}}</td>
                      <td class="text-right">{{(item.godina2019 - item.godina2018).toFixed(1).toLocaleString("hr").replace('.',',') }}</td>
                      <td class="text-right">{{((item.godina2019 / item.godina2018) *100).toFixed(1).toLocaleString("hr").replace('.',',')}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>

        </div>
      </div>
    </div>
  </div>

  <div class="row" [hidden]="!(active === 1 && pokazatelji1[0].godina2018 !== null)">
    <div class="col-lg-6">
      <div class="card">
        <div class=" card-header">
          <h3 class=" card-title">
            Pokazatelji likvidnosti
          </h3>
        </div>
        <div class="card-body">
          <div class=" chart-area">
            <canvas id="likvidnostPokazatelji1"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class=" card-header">
          <h3 class=" card-title">
            Pokazatelji ekonomičnosti
          </h3>
        </div>
        <div class="card-body">
          <div class=" chart-area">
            <canvas id="ekonomicnostPokazatelji1"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class=" card-header">
          <h3 class=" card-title">
            Pokazatelji zaduženosti
          </h3>
        </div>
        <div class="card-body">
          <div class=" chart-area">
            <canvas id="zaduzenostPokazatelji1"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class=" card-header">
          <h3 class=" card-title">
            Pokazatelji aktivnosti
          </h3>
        </div>
        <div class="card-body">
          <div class=" chart-area">
            <canvas id="aktivnostiPokazatelji1"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class=" card-header">
          <h3 class=" card-title">
            Pokazatelji rentabilnosti
          </h3>
        </div>
        <div class="card-body">
          <div class=" chart-area">
            <canvas id="rentabilnostPokazatelji1"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" [hidden]="!(active === 2 && pokazatelji2[0].godina2018 !== null)">
    <div class="col-lg-6">
      <div class="card">
        <div class=" card-header">
          <h3 class=" card-title">
            Pokazatelji likvidnosti
          </h3>
        </div>
        <div class="card-body">
          <div class=" chart-area">
            <canvas id="likvidnostPokazatelji2"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class=" card-header">
          <h3 class=" card-title">
            Pokazatelji ekonomičnosti
          </h3>
        </div>
        <div class="card-body">
          <div class=" chart-area">
            <canvas id="ekonomicnostPokazatelji2"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class=" card-header">
          <h3 class=" card-title">
            Pokazatelji zaduženosti
          </h3>
        </div>
        <div class="card-body">
          <div class=" chart-area">
            <canvas id="zaduzenostPokazatelji2"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class=" card-header">
          <h3 class=" card-title">
            Pokazatelji aktivnosti
          </h3>
        </div>
        <div class="card-body">
          <div class=" chart-area">
            <canvas id="aktivnostiPokazatelji2"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
